*{ 
    margin:0;
    box-sizing: border-box;
    font-family:Courier New, Courier, monospace;
}
h1,h2{
    font-size: 25px;
    padding: 1%;
}

header{
    width: 100%;
   /* height:10%;*/
    background: #1DA1F2 ;
}
header h1{
    color: white;
    text-align: center;
}
textarea {
    resize: none;
    overflow:hidden;
    margin:1% auto;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    border: none;
  }

body{
    background: url(../assets/images/paisaje.jpg);

}
.box-container{
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    overflow:hidden;
}
.presentacion{
    margin-top: 1%;
    float: left;
    width: 49%;
    background: white;
    border-radius: 5px;}
.twitter-form{
    margin-top: 1%;
    float: right;
    width: 49%;
    background: white;
    border-radius: 5px;}
.form{
    margin: 1%;
    width: 98%;}
    .tweetform-content{
    width: 98%;
    margin: 5px 5px;}
.btn-form{
    margin: 2%;
   width:98%;
    }
#btn-save{
    padding: 10px 15px;
    border-radius: 5px;
    border:none;
    
}
#character-counter{
    width:10%;
    border: none;}
.container-twits{
    margin-left:50%;
    width: 44%;}

    .content-new-twit{
    padding: 10px;  
    word-wrap:break-word;
    margin:2%;
    width: 100%;
    background: white;
    border-radius: 5px;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.black{
    color:black;
}